<!--div class="dock">
	<div class="palm-row-wrapper">
		<div class="palm-row-wrapper">
			<div class="title align-center" id="bookPhrases" style="font-size:18px;font-color:#ffffff;"></div>
		</div>
	</div>
</div-->


<!--div class="fillscreen"><br><br><br>
	<div class="bookPhrases" id="bookPhrases" style="display:none;"></div>
</div-->

<div id="Container1" class="bookPhrases-Container"><!--br/><br/-->
    <!--div id="bookPhrases" style="display:none;"></div-->
    <div id="bookPhrases"></div>
</div>
